NodeRed.txt
[{"id":"6a67610.6f16aa","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"ef3baf60.f8b8d","type":"debug","z":"6a67610.6f16aa","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payzero","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"d1c5dfd9.6aa41","type":"mqtt in","z":"6a67610.6f16aa","name":"","topic":"WIZnet","qos":"2","datatype":"auto","broker":"46180e53.8e24c","nl":false,"rap":true,"rh":0,"x":90,"y":60,"wires":[["42a6fe00.e0601"]]},{"id":"42a6fe00.e0601","type":"function","z":"6a67610.6f16aa","name":"","func":"var stripped = msg.payload.trim();\nvar values = stripped.split(',');\nmsg.payzero = Number(values[0]);\nmsg.payone = Number(values[1]);\nmsg.paytwo = Number(values[2]);\nmsg.paythree = Number(values[3]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[["ef3baf60.f8b8d","acaf702e.4947c","afb683a4.9551e","32117bda.23ad54","442716c1.5429f8","4d6f49ad.b98308","a9298dd9.83a5d","decb8ccb.57e54"]]},{"id":"acaf702e.4947c","type":"debug","z":"6a67610.6f16aa","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payone","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"afb683a4.9551e","type":"debug","z":"6a67610.6f16aa","name":"Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"paytwo","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"32117bda.23ad54","type":"debug","z":"6a67610.6f16aa","name":"Gas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"paythree","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"442716c1.5429f8","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"1c3fcac1.4e6fc5","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature","label":"","format":"{{msg.payzero}}°","min":"50","max":"100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":590,"y":240,"wires":[]},{"id":"4d6f49ad.b98308","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"1c3fcac1.4e6fc5","order":2,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"","format":"{{msg.payone}}%","min":"1","max":"100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":580,"y":280,"wires":[]},{"id":"a9298dd9.83a5d","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"1c3fcac1.4e6fc5","order":3,"width":"3","height":"2","gtype":"gage","title":"Pressure (hPa)","label":"","format":"{{msg.paytwo}}","min":"950","max":"1050","colors":["#00bf00","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":600,"y":320,"wires":[]},{"id":"decb8ccb.57e54","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"1c3fcac1.4e6fc5","order":4,"width":"3","height":"2","gtype":"gage","title":"Gas","label":"","format":"{{msg.paythree}}","min":0,"max":"300","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":570,"y":360,"wires":[]},{"id":"12e9a0ee.7dd45f","type":"inject","z":"6a67610.6f16aa","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["b6a44514.c8b918","c690b680.8ac9e8"]]},{"id":"423ca2c1.ec317c","type":"mqtt out","z":"6a67610.6f16aa","name":"","topic":"temper","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46180e53.8e24c","x":580,"y":660,"wires":[]},{"id":"e63e848e.946208","type":"mqtt out","z":"6a67610.6f16aa","name":"","topic":"humid","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46180e53.8e24c","x":570,"y":760,"wires":[]},{"id":"b6a44514.c8b918","type":"ui_template","z":"6a67610.6f16aa","group":"241ae5e.80b171a","name":"Openweathermap Widget","order":4,"width":"6","height":"5","format":"<div id=\"openweathermap-widget-15\"></div>\n<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '5034059',appid: '740b79d2030c57335949274e61f8726b',units: 'imperial',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";script.src = \"//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":630,"y":440,"wires":[[]]},{"id":"c690b680.8ac9e8","type":"http request","z":"6a67610.6f16aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Lakeville,us&units=imperial&APPID=740b79d2030c57335949274e61f8726b","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":480,"wires":[["349d5d7.4b699a2"]]},{"id":"349d5d7.4b699a2","type":"json","z":"6a67610.6f16aa","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":480,"wires":[["44d029b8.c04128"]]},{"id":"44d029b8.c04128","type":"function","z":"6a67610.6f16aa","name":"","func":"msg.temper = msg.payload.main.temp;\nmsg.humid = msg.payload.main.humidity;\nmsg.pressure = msg.payload.main.pressure;\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":540,"wires":[["19affdfe.fff072","ceb9761d.6e28c8","38c6a003.6d4e6","972f4bbb.ab1fd8","c222e521.ac62c8","a6ab67b7.448268"]]},{"id":"19affdfe.fff072","type":"debug","z":"6a67610.6f16aa","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"temper","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":540,"wires":[]},{"id":"ceb9761d.6e28c8","type":"debug","z":"6a67610.6f16aa","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"humid","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":580,"wires":[]},{"id":"72aabc12.329044","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"241ae5e.80b171a","order":3,"width":"3","height":"2","gtype":"gage","title":"Pressure (hPa)","label":"","format":"{{msg.payload}}","min":"950","max":"1050","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":600,"y":920,"wires":[]},{"id":"38c6a003.6d4e6","type":"function","z":"6a67610.6f16aa","name":"msg.temper","func":"msg.payload = msg.temper.toFixed(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":680,"wires":[["423ca2c1.ec317c","3fca47d5.faa648"]]},{"id":"3fca47d5.faa648","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"241ae5e.80b171a","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature","label":"","format":"{{msg.payload}}°","min":"-20","max":"110","colors":["#f20202","#00b500","#ff0026"],"seg1":"0","seg2":"100","className":"","x":590,"y":720,"wires":[]},{"id":"972f4bbb.ab1fd8","type":"function","z":"6a67610.6f16aa","name":"msg.humid","func":"msg.payload = msg.humid.toFixed(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["e63e848e.946208","1e95c664.08d1ea"]]},{"id":"1e95c664.08d1ea","type":"ui_gauge","z":"6a67610.6f16aa","name":"","group":"241ae5e.80b171a","order":2,"width":"3","height":"2","gtype":"gage","title":"Humidity","label":"","format":"{{msg.payload}}%","min":"1","max":"100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","className":"","x":580,"y":820,"wires":[]},{"id":"c222e521.ac62c8","type":"debug","z":"6a67610.6f16aa","name":"Pressure ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"pressure","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":620,"wires":[]},{"id":"a6ab67b7.448268","type":"function","z":"6a67610.6f16aa","name":"msg.pressure","func":"msg.payload = msg.pressure.toFixed(0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":880,"wires":[["72aabc12.329044","d12f14e6.56e128"]]},{"id":"d12f14e6.56e128","type":"mqtt out","z":"6a67610.6f16aa","name":"","topic":"press","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46180e53.8e24c","x":570,"y":860,"wires":[]},{"id":"e7048321.e996","type":"comment","z":"6a67610.6f16aa","name":"MQTT message from WizFi360 board ","info":"","x":190,"y":20,"wires":[]},{"id":"39e27f0c.419ff","type":"comment","z":"6a67610.6f16aa","name":"Data from openweathermap.org, MQTT to WizFi360 board","info":"","x":250,"y":400,"wires":[]},{"id":"46180e53.8e24c","type":"mqtt-broker","name":"Wiznet","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1c3fcac1.4e6fc5","type":"ui_group","name":"Home monitor (BME680)","tab":"35cfacce.07afb4","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"241ae5e.80b171a","type":"ui_group","name":"Current weather (openweathermap.org)","tab":"35cfacce.07afb4","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"35cfacce.07afb4","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]